<div
  style="
    /* background-color: #0d0918; */
    background-image: linear-gradient(180deg, #04acef, #df0715);

    font-family: sans-serif;
    color: #fff;
    line-height: 24px;
    font-size: 1.2em;
  "
>
  <div style="max-width: 800px; margin: auto; padding: 0 20px">
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 25px;
        width: 70%;
        box-sizing: border-box;
        padding-bottom: 16px;
        padding-top: 32px;
      "
    ></div>

    <div
      style="
        /* background-image: linear-gradient(#04acef, #df0715); */
        background-color: #fff;
        border-radius: 24px;
        padding: 20px 30px;
        text-align: justify;
        vertical-align: top;
      "
    >
        <img
          src="https://codefornepal.org/assets/img/c4n_logo.png"
          alt=""
          width="200px"
          height="80px"
          style="object-fit: contain; width: 200px; height: 80px"
        />

        <p style="color: #005c99; font-weight: lighter">
          Dear <span style="font-weight: bold; color: #a13653">{name}</span>,
        </p>
        <p style="color: #005c99; font-weight: lighter">
          I hope this message finds you well. On behalf of
          <strong style="color: #a13653">Code For Nepal</strong>, I am thrilled
          to extend a warm welcome to you as a <strong style="color: #a13653;">Data Fellow</strong> in the Data
          Fellowship Program. We truly appreciate your interest and commitment
          to joining us on this exciting journey of learning and growth in the
          field of data science. Congratulations!
        </p>
        <p style="color: #005c99; font-weight: lighter">
          I want to bring your attention to some important information, so please take a moment to read the following instructions carefully:
        </p>
        <p style="color: #005c99; font-weight: lighter">
          <ol>
            <li style="color: #005c99; font-weight: lighter" >Kindly check your inbox, including spam folders, for an email from Datacamp. This email contains crucial details and instructions to help you get started with the program. Don't delay, dive right in and begin your learning journey. Additionally, you have been assigned a straightforward assignment to complete.
            </li><br>
            <li style="color: #005c99; font-weight: lighter" >If you find yourself facing any confusion while navigating the Datacamp platform, I encourage you to click on "Tracks" and select "Career Tracks." This will guide you through the process and ensure a smooth learning experience.
            </li><br>
            <li style="color: #005c99; font-weight: lighter" >We have created a vibrant Code for Nepal Facebook group, and I invite you to join us there. This group serves as a platform for you to connect with fellow participants, exchange insights, and stay updated with program-related information. You can access the group using the this <a href="https://www.facebook.com/groups/codefornepal/members/" style="color: #df0715;">link</a> .
            </li><br>
            <li style="color: #005c99; font-weight: lighter" >To facilitate efficient communication and collaboration, we have also set up a dedicated Slack channel for the Data Fellowship Program. You can join the channel using this  <a href="https://join.slack.com/t/codefornepal/shared_invite/zt-1yjgqoiwx-fHFyHhciSjr0CwTOC9bjzQ" style="color: #df0715;">link</a>. If you have any questions or require assistance, please feel free to utilize the <strong style="color:#a13653;">#data_fellowship_2023 channel</strong>. Our team and your peers will be there to provide support and guidance.
            </li><br>
            <li style="color: #005c99; font-weight: lighter" >I want to inform you that due to the size of our cohort, we may not be able to respond to individual queries here. Therefore, I kindly request you to post any questions or concerns you may have on Slack. This will ensure that you receive timely assistance and guidance from our team and your fellow participants. Additionally, I encourage you to follow our Code for Nepal Facebook group for important program updates and announcements.
            </li><br>
            <li style="color: #005c99; font-weight: lighter" >Lastly, I am delighted to inform you that we have scheduled an orientation session exclusively for all participants, including yourself, on <strong style="color: #a13653;">Wednesday, July 5th, at 7:00 PM</strong>. We will add this event to your calendar to ensure you don't miss it. I highly encourage you to attend the orientation as it will provide you with valuable information about the program and set the foundation for a successful journey ahead. I am eagerly looking forward to seeing you there.
            </li>
          </ol>
        </p>

        <p style="color: #005c99; font-weight: lighter">
          Once again, I would like to express my heartfelt congratulations on
          being accepted into the Data Fellowship Program. This is an incredible
          opportunity for you to expand your skills and knowledge in the field
          of data science. Please don't hesitate to reach out to me directly if
          you have any further questions or concerns.
        </p>

        <p style="color: #005c99; font-weight: lighter">
          Warm Regards,<br />
          <span style="color: #a13653">Prayatna Mishra</span><br />
          <span style="color: #a13653">Program Assistant, Code For Nepal</span>
        </p>
      </div>

      <div
        style="
          max-width: 600px;
          margin-top: 20px;
          font-weight: bold;
          padding: 20px 0;  
        "
      >
        <p>
        Code For Nepal | <a href="https://codefornepal.org/" style="color: #fff"
        >contact@codefornepal.org</a>
      </p>

        <p>
          Website:
          <a href="https://codefornepal.org/" style="color: #fff"
            >codefornepal.org</a
          >
        </p>
        <p>
          <a href="https://www.facebook.com/codefornepal" style="color: #fff"
            >Facebook</a
          >
          |
          <a href="https://www.instagram.com/codefornepal/" style="color: #fff"
            >Instagram</a
          >
          |
          <a
            href="https://www.linkedin.com/company/code-for-nepal"
            style="color: #fff"
            >Linkedin</a
          >

          <!-- <a href="https://discord.gg/JNrBctHXWq" style="color: #fff">Discord</a> -->
        </p>
      </div>
    </div>
  </div>
</div>
